.App {
    display: flex;
  }
  
  .main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    transition: margin-left 0.3s, width 0.3s;
  }
  
  .main-content.collapsed {
    margin-left: 80px;
    width: calc(100% - 80px);
  }
  
  .content {
    padding: 20px;
    background-color: #f8f9fa; /* Light background color */
    min-height: 100vh; /* Ensure it covers the entire viewport height */
  }
  